@model QuanLyQuanCafe.Models.TableData
@{
    ViewBag.Title = "Index";
}

<h2>TableList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="row">
    <div class="col-md-6">
        <table class="table  ">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.tableFoods)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.ActionLink("Select", "CreatBill", new { id = item.id }) |
                        @Html.ActionLink("Bill", "Index", new { id = item.id }) |
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div class="col-md-6">
        
        <table class="table ">
           
            @if (Model.billInfors != null && Model.billInfors.Count() != 0)
            {
                <tr>
                    <th><h3>Bill</h3></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Price/1 ($)
                    </th>
                    <th>
                        count
                    </th>
                    <th>
                        Price ($)
                    </th>
                    <th></th>
                </tr>
                foreach (var item in Model.billInfors)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Food.name)
                        </td>

                        <td>
                            @item.Food.price
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.count)

                        </td>
                        <td>
                            @(item.Food.price * item.count)
                        </td>
                        
                    </tr>

                }
                <tr>
                    <th>
                       Totel ($)
                    </th>
                    <td></td>
                    <td></td>
                    <td>@ViewBag.Totel</td>
                </tr>
                <tr>
                    <td>
                        @Html.ActionLink("pay", "Pay", new { id = ViewBag.id })

                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            }
            
        </table>

    </div>
</div>
